{sub_dirs, [
    "rel"
]}.

{deps, [
    {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {tag, "1.0"}}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy", {branch, "master"}}},
    {gpb,".*",{git, "git://github.com/tomas-abrahamsson/gpb.git", {branch, "master"}}},
    %{protobuffs,".*",{git, "git://github.com/basho/erlang_protobuffs.git",{branch, "master"}}},
    %{gun, ".*",{git, "git://github.com/ninenines/gun", {branch, "master"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}}
]}.

%% -*- erlang -*-
{pre_hooks,
 [{compile, "mkdir -p include"}, %% ensure the include dir exists
   {compile,
   "erl +B -noinput -pa deps/gpb/ebin "
   "    -I`pwd`/proto -o-erl src -o-hrl include "
   "    -s gpb_compile c `pwd`/proto/*.proto"
  }]}.


  %{compile,
  % "deps/gpb/bin/protoc-erl -I`pwd`/proto"
  % "-o-erl src -o-hrl include `pwd`/proto/*.proto"
  %}]}.

{post_hooks,
 [{clean,
   "bash -c 'for f in proto/*.proto; "
   "do "
   "  rm -f src/$(basename $f .proto).erl; "
   "  rm -f include/$(basename $f .proto).hrl; "
   "done'"}
 ]}.

{erl_opts, [{i, "deps/gpb/include"},{parse_transform, lager_transform}]}.
